body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #a89999;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 25px;
    margin: 25px;
    background-color: #906c6c;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-shadow: #a89999;
    transition: transform 0.3s; /* add transition effect */
}

.card:hover {
    transform: scale(1.1); /* scale up on hover */
}

.card h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.card p {
    margin-bottom: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: transform 0.3s; /* add transition effect */
}

.icon:hover {
    transform: scale(1.2); /* scale up on hover */
}

.icon svg {
    width: 24px;
    height: 24px;
}
  
  .logos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }



  .logo img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}